 <div class="user-details">
  <h1> My Expertise </h1>
  <p> Undergraduate student at Indian Institute of Technology, Roorkee. I am intersted in Deep learning, Machine learning, Computer Vision and Generative AI</p>
   <a class="project-link" target="_blank" style="margin: 0 auto" href="./assets/docs/ATS_Friendly_Technical_Resume.pdf">RESUME</a>
</div>
  <div class="user">
    <div class="tech">
      <h2>Computer Vision</h2>
      <i class="devicon-opencv-plain colored"></i>
      <i class="devicon-pytorch-plain colored"></i>

      <p>I specialize in combining computer vision and natural language processing. My focus is on image segmentation, object detection, and classification. I explore advanced techniques to improve these tasks and contribute to the field by developing innovative solutions. 
      </p>
        
    </div>
    <div class="tech">
      <h2>Generative AI</h2>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <p>Builiding and enhancing RAG-based pipelines, agentic architectures and prompt-engineering. Finetuning open-source LLMs for down-stream tasks.</p>
    </div>
</div>
