<div class="user-details"> 
  <h1> Blog </h1>
</div>

<div class="user-projects">
</div>
<div align="center">
  <div class="contents">
    <div align="left">
      <h3> Inter-IIT Techfest 2023: </h3>
    </div>

    <p>Developed "AI Agent 007," a query-aware agent capable of allocating and reviewing tool outputs.</p>
    <p>Focused on creating autonomous tools for efficient parameter extraction and downstream function calls.</p>
    <p>Implemented a self-reflective ReAct style agent and curated datasets using given tool descriptions.</p>
    <a class="project-link" href="https://github.com/Sar2580P/Dev-Rev-Inter-IIT">Project link</a>
  </div>
</div>

<div class="user-projects">
</div>
<div align="center">
  <div class="contents">
    <div align="left">
      <h3> Sentinel-2 Field Delineation: </h3>
    </div>

    <p>Participated in Solafune's Sentinel Delineation competition and developed a model for field segmentation.</p>
    <p>Fine-tuned U-Net-based models (UNet++, FPN, DeepLabV3, Mask-RCNN) and used OpenCV for polygon processing.</p>
    <p>Built an ensemble model to stack masks predicted by base models, achieving IOU = 0.96 on patched images.</p>
    <a class="project-link" href="https://github.com/Sar2580P/Fin7X8Ph4Ai2">Project link</a>
  </div>
</div>

