<div class="user-details">
  <h1> Featured Projects </h1>
</div>




<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/AI_Agent_Overview.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> AI Agent 007: Tooling up for Success (Inter-IIT Techfest 2023) </h3>
    <ul>
      <li> Python </li>
      <li> Langchain </li>
      <li> OpenAI </li>
    </ul>
    <p> Focused on creating autonomous tools for efficient parameter extraction and downstream function calls.
      Implemented a self-reflective ReAct style agent, curated dataset using given tool descriptions</p>
    <a class="project-link" href="https://github.com/Sar2580P/Dev-Rev-Inter-IIT
">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/cleverchat.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Enriched Bots-Clever Chat</h3>
    <ul>
      <li> Python </li>
      <li> Django </li>
      <li> Llama-Index </li>
      <li> Hugging Face </li>
    </ul>
    <p>Today’s bots are plain text. Our graph-based approach enriches interactions with links, pictures, and videos.</p>
    <a class="project-link" href="https://lablab.ai/event/lablab-next-create-your-startup/sarvagya-porwal/clever-chat
">Check it out</a>
    </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/wheat_seeds.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Wheat Seeds Classification</h3>
    <ul>
      <li> Python </li>
      <li> Pytorch </li>
      <li> OpenCV </li>
      <li> Computer Vision </li>
    </ul>
    <p>The research employed RGB and hyperspectral images for classifying 96 wheat seed varieties. Pre-trained models like DenseNet-121, ResNet-50, and GoogleNet were fine-tuned for RGB data. For hyperspectral data, a DenseNet-121-inspired architecture was developed, incorporating a Sparse Band Attention Module (SBAM) to rank and select bands based on their contribution to the classifier's accuracy. This approach achieved 92% accuracy on hyperspectral images. A regression-based ensemble (using SVM) was employed to combine model predictions, enhancing robustness and achieving an overall accuracy of 98%.
      </p>
    <a class="project-link" href="https://drive.google.com/file/d/16cnCnfZPZQlOp3aUFeO7j6Z87u9-NWdT/view
">Check it out</a>
  </div>
</div>

