<div class="user-details">
    <h1> Work Experience</h1>
  </div>
  
  <div class="user-projects">
  </div>
  <div align="center">
  <div class="contents">
    <div align="left">
    <h3> DeepLogic AI</h3>
  </div>
  
    <p>Worked as a Generative AI intern.</p>
    <ul>
      <li>
        Spearheaded the development of a <strong>Retrieval-Augmented Generation (RAG) pipeline</strong> for enterprise search, integrating email and document embeddings into a <strong>PostgreSQL vector store</strong> on AWS, enabling high-performance and context-aware information retrieval.
      </li>
      <li>
        Designed and implemented <strong>normalized database schemas</strong> and optimized <strong>scalable CRUD operations</strong> for metadata-filtered searches, supporting seamless querying across millions of documents.
      </li>
      <li>
        Engineered core components including the <strong>Retriever</strong>, <strong>Response Generator</strong>, and <strong>Re-ranker</strong>, leveraging advanced caching strategies to enhance <strong>chatbot integration</strong>, resulting in improved interaction efficiency, scalability, and user experience.
      </li>
    </ul>
    

  </div>
  </div>
  
  