<div class="user-details">
    <h1> Work Experience</h1>
  </div>
  
  <div class="user-projects">
  </div>
  <div align="center">
  <div class="contents">
    <div align="left">
    <h3> DeepLogic AI</h3>
  </div>
  
    <p>Worked as a Generative AI intern.</p>
    <p>• Contributed to the development of a Retrieval-Augmented Generation (RAG) pipeline for enterprise search, managing email and
      document embeddings in a Postgres vector-store on AWS, enabling high-performance information retrieval.
      • Designed normalized database schemas and optimized scalable CRUD operations for metadata-filtered searches across millions
      of documents.
      • Developed critical components such as the Retriever, Response Generator, and Re-ranker, and implemented caching strategies to
      enhance chatbot integration, improving overall system interaction, efficiency, and scalability.</p>

  </div>
  </div>
  
  